<div class="panel-group" id="skills-accordion">
  {% for group in group_list %}
    <div class="panel panel-default">
      <a data-toggle="collapse"
         data-parent="#skills-accordion"
         href="#collapse{{ forloop.counter }}">
        <div class="panel-heading">
          <h4 class="panel-title">
            {{ group.name }}
          </h4>
        </div>
      </a>

      <div id="collapse{{ forloop.counter }}"
           class="panel-collapse collapse{% if forloop.first %} in{% endif %}">
        <div class="panel-body">
          <table class="table table-striped table-hover" id="skills-list">
            <tbody>
            {% for skill in group.skills.all %}
              <tr>
                <td>
                  <a href="#" id="skill-{{ skill.id }}">
                    {{ skill.name }}
                  </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endfor %}
</div>