<div class="panel-group" id="skills-accordion">
  {% for group in group_list %}
    {% if group.has_published_skills %}
      <div class="panel panel-default">
        <a data-toggle="collapse"
           data-parent="#skills-accordion"
           href="#collapse{{ forloop.counter }}">
          <div class="panel-heading">
            <h4 class="panel-title">
              {{ group.name }}
            </h4>
          </div>
        </a>

        <div id="collapse{{ forloop.counter }}"
             class="panel-collapse collapse{% if forloop.first %} in{% endif %}">
          <div class="panel-body">
            <table class="table table-striped table-hover" id="skills-list">
              <tbody>
              {% for skill in group.skills.all %}
                {% if skill.published %}
                  <tr>
                    <td>
                      <button class="btn btn-link btn-xs skill-btn"
                              value="{{ skill.id }}">
                        {{ skill.name }}
                      </button>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% block modal %}
  <div class="modal" id="skill-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-hidden="true">×
          </button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine body…</p>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-default"
                  data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<script type="application/javascript">
  $(document).ready(function() {
    $('button.skill-btn').on('click', function() {
      $('#skill-modal').find('div.modal-body').html('<p>' + this.value +
          '</p>');
    });
  });
</script>