{% extends "base.html" %}
{% load static %}{% load i18n %}

{% block title %}Plans{% endblock %}

{% block content %}

  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h1>Plans</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="bs-component">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Character</th>
              <th>Actions</th>
            </tr>
            </thead>
            {% for plan in plan_list %}
              <tr>
                <td>
                  <a href="{{ plan.get_absolute_url }}">
                    {{ plan.name }}
                  </a>
                </td>
                <td>
                  {{ plan.character }}
                </td>
                <td>
                  <a href="#">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}