{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django EVE Mon{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Django web-based EVE Online skill planner">
  <meta name="author" content="Ben Cole">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/darkly/bootstrap.min.css">

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
  {% endblock %}

  {% block angular %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
  {% endblock %}

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Django EVE Mon</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Characters <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">API Keys</li>
              <li><a href="#">Add API Key</a></li>
              <li><a href="#">Manage API Keys</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Characters</li>
              <li><a href="#">Add Character</a></li>
              <li><a href="#">Manage Characters</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'users:detail' request.user.username %}">{% trans "My Profile" %}</a></li>
          <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
        </ul>
      {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="login" method="POST" action="/accounts/login/">
          <div class="form-group">
            {% csrf_token %}
            <input autofocus="autofocus" class="textinput textInput form-control" id="id_login" maxlength="30"
                   name="login" placeholder="Username" type="text">
            <input class="textinput textInput form-control" id="id_password" name="password"
                   placeholder="Password" type="password">
            <a class="btn btn-link"
               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
          </div>
        </form>
      {% endif %}
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container">

  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  {% block content %}
    <p>Use this document as a way to quick start any new project.</p>
  {% endblock content %}

</div>
<!-- /container -->

{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
  <!-- Latest JQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <!-- Your stuff: Third-party javascript libraries go here -->

  <!-- place project specific Javascript in this file -->
  <script src="{% static 'js/project.js' %}"></script>
{% endblock javascript %}
</body>
</html>
 