{% load i18n %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
</ul>
<form class="navbar-form navbar-right" role="login" method="POST" action="{% url "allauth:account_login" %}">
  <div class="form-group">
    {% csrf_token %}
    <input autofocus="autofocus" class="textinput textInput form-control" id="id_login" maxlength="30"
           name="login" placeholder="Username" type="text">
    <input class="textinput textInput form-control" id="id_password" name="password"
           placeholder="Password" type="password">
    <a class="btn btn-link"
       href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
  </div>
</form>
