{% extends "base.html" %}
{% block title %}Add Character{% endblock %}
{% block content %}
  <h1>Add character</h1>
  <form class="form-horizontal" id="add-character-form" method="post" action="">
    {% csrf_token %}
    <fieldset>
      <div class="form-group">
        <label for="input-key-id" class="col-lg-2 control-label">Key ID</label>

        <div class="col-lg-10">
          <input type="text"
                 class="form-control"
                 id="input-key-id"
                 placeholder="Key ID"
                 name="keyid"/>
        </div>
      </div>
      <div class="form-group">
        <label for="input-vcode"
               class="col-lg-2 control-label">Verification Code</label>

        <div class="col-lg-10">
          <input type="text"
                 class="form-control"
                 id="input-vcode"
                 placeholder="Password"
                 name="vcode"/>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label for="select-characters" class="col-lg-2 control-label">Character(s)</label>

        <div class="col-lg-10">
          <input type="text" id="select-characters" class="form-control input-lg">
        </div>
      </div>
    </fieldset>
    <button class="btn btn-info" id="btn-get-characters" data-loading-text="Getting characters..." type="submit">Get Characters</button>
  </form>
  {% if request.user.had_apikeys %}

  {% endif %}
{% endblock %}