{% extends "base.html" %}
{% load static %}

{% block title %}Character: {{ object.name }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="well">
        <div class="row">
          <div class="col-sm-4">
            <h1>{{ object.name }}</h1>
            <img src="//image.eveonline.com/Character/{{ object.id }}_256.jpg"/>
          </div>
          <div class="col-sm-8">
            <dl>

            </dl>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        {% include "characters/skills_accordion.html" %}
      </div>
    </div>
  </div>
{% endblock content %}
