<div class="panel-group" id="skills-accordion">
  {% for group, skills in groups.items %}
    <div class="panel panel-default">
      <a data-toggle="collapse"
         data-parent="#skills-accordion"
         href="#collapse{{ forloop.counter }}">
        <div class="panel-heading">
          <h4 class="panel-title">
            {{ group }}
          </h4>
        </div>
      </a>

      <div id="collapse{{ forloop.counter }}"
           class="panel-collapse collapse{% if forloop.first %} in{% endif %}">
        <div class="panel-body">
          <table class="table table-striped table-hover">
            <tbody>
            {% for skill_known in skills %}
              {% with skill=skill_known.skill %}
                <tr>
                  <td>{{ skill.name }}</td>
                  <td>{{ skill_known.skillpoints }} / {{ skill_known.skillpoints_for_next_level }}</td>
                  <td style="text-align: right;">{{ skill_known.level }}</td>
                </tr>
              {% endwith %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endfor %}
</div>